.text-yellow-100 {
  color: #FBB60D;
}
.text-yellow-200 {
  color: #EBAC0B;
}
.text-yellow-300 {
  color: #CC950A;
}
.text-yellow-400 {
  color: #291E02;
}
.text-blue-100 {
  color: #E5F4FF;
}
.text-blue-200 {
  color: #57B7FF;
}
.text-blue-300 {
  color: #0B4570;
}
.text-blue-400 {
  color: #06263D;
}
.text-blue-500 {
  color: #041523;
}